* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
div#container {
    width: 100%;
}

h1 {
    font-size: 6vw;
    font-family: "Kaushan Script";
    letter-spacing: 5px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 4px 4px #fff;
}
p {
    font-family: "Merriweather";
    text-align: justify;
    font-size: 1rem;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    padding: 2% 4%;
    font-family: "Merriweather";
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #f2f2f2;
    background-color: #000;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav {
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed; /*temp*/
    position: sticky; /*temp*/
    position: -webkit-sticky; /*temp*/
    z-index: 99;
    box-shadow: 0 -10px 150px 5px #004466;
    background-color: #fff;
}
nav a {
    width: 22%;
    height: 100%;
    line-height: 70px;
    float: left;
    display: inline-block;
    font-family: "Berkshire Swash";
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    color: #0066cc;
}
nav a:first-child {
    width: 10%;
    margin-left: 2%;
    padding: 0;
}
nav a.active {
    border-bottom: 5px solid #66b3ff;
}
nav img {
    width: 100%;
}
/*Scroll progress bar*/
#progress-container {
    width: 100%;
    height: 10px;
    top: 70px;
    position: fixed; /*temp*/
    position: sticky; /*temp*/
    position: -webkit-sticky; /*temp*/
    background-color: #ddd;
}
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #66b3ff;
}


section {
    min-height: 100vh;
    padding: 5%;
}

/*Intro section*/
section#intro {
    background-color: #e6f7ff;
    background: linear-gradient(to bottom right, #e6f7ff, #33bbff);
}
header #left {
    width: 40%;
    float: left;
}
header img#product {
    width: 100%;
    margin: 0 auto;
}
header #right {
    width: 55%;
    height: 100%;
    float: right;
    text-align: center;
}
header h1 {
    height: 50%;
}


/*About section*/
section#about {
    background-image: url(images/image1.JPG);
}

/*Team section*/
section#team {
    background-color: #f2e6ff;
}

/*Artist section*/
section#artists {
    background-image: url(images/image2.JPG);
}

/*Contact section*/
section#contact {
    background-color: #ffe6ff;
}