* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
div#container {
    width: 100%;
}

h1 {
    font-size: 7vw;
    font-family: "Kaushan Script";
    letter-spacing: 5px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 4px 4px #fff;
}
h2 {
    font-size: 2rem;
    font-family: "Kaushan Script";
    letter-spacing: 2px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 2px 2px #fff;
}
h3 {
    font-size: 1.75rem;
    font-family: "Catamaran";
    letter-spacing: 2px;
    line-height: 1.25;
    text-align: center;
    text-shadow: 2px 2px #fff;
}
p {
    font-family: "Merriweather";
    text-align: justify;
    font-size: 1rem;
}

.parallax {
    background-attachment: fixed;
}
.button {
    padding: 2% 4%;
    font-family: "Merriweather";
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #f2f2f2;
    background-color: #000;
}
/*Icons*/
.fa:hover {
    opacity: .8;
}
.fa-facebook-official {
    color: #3B5998;
}
/*Flip effect*/
.flip-container {
    position: relative;
    cursor: pointer;
    perspective: 800px;
    -webkit-perspective: 800px;
}
.flip-faces {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 2s;
    -webkit-transition: transform 2s;
}
.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    display: block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front:hover, .back:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


/*Section defaults*/
section {
    min-height: 100vh;
    padding: 5%;
    position: relative;
    box-shadow: 0 10px 150px #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
hr.nav-anchor {
    height: 0px; 
    position: absolute; 
    top: -70px; 
    border: 0;
}

/*Intro section*/
section#intro {
    padding-left: 1%;
    z-index: 1;
    background-color: #e6f7ff;
    background: linear-gradient(to bottom right, #ced7fd, #5374f8);
}
header #header-text {
    width: 55%;
    height: 100%;
    padding: 10% 0;
    float: left;
    text-align: center;
}
header img#product {
    width: auto;
    height: 75vh;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    right: 5%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}


/*Navigation bar*/
nav {
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed; /*temp*/
    position: sticky; /*temp*/
    position: -webkit-sticky; /*temp*/
    z-index: 99;
    box-shadow: 0 -10px 150px 5px #051d7a;
    background-color: #fff;
}
nav a {
    width: 22%;
    height: 100%;
    line-height: 70px;
    float: left;
    display: inline-block;
    font-family: "Berkshire Swash";
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    color: #f95c60;
}
nav a:first-child {
    width: 10%;
    margin-left: 2%;
    padding: 0;
}
nav a.active {
    border-bottom: 5px solid #66b3ff;
}
nav img {
    width: 100%;
}
/*Scroll progress bar*/
#progress-container {
    width: 100%;
    height: 10px;
    top: 70px;
    position: fixed; /*temp*/
    position: sticky; /*temp*/
    position: -webkit-sticky; /*temp*/
    z-index: 98;
    background-color: #c1b6b6;
}
#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #f95c60;
}


/*About section*/
section#about {
    background-image: url(images/image1.JPG);
    transition: background-image 0.5s linear;
}
.slideshow-container {
    width: 50%;
    margin: auto;
    position: relative;
}
.slide {    
    height: 550px;
    padding: 10%;
    display: none;
    background-color: rgba(255,255,255,0.95);
}
p.dash {
    text-align: center;
    font-size: 2rem;
}
.prev, .next {
    width: auto;
    margin-top: -22px;
    padding: 16px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.1);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 1s ease;
}
.active, .dot:hover {
    background-color: #fff;
}
.fade {
    animation: 2s fade ease;
}
.slide p, .slide h2 {
    animation: 2.5s fadeIn ease-in;
}
@keyframes fade {
    from {opacity: 0.6;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/*Team section*/
section#team {
    background: linear-gradient(to bottom right, #dff1da, #a0d590);
}
#members-container {
    width: 60%;
    height: 500px;
    margin: 0 auto;
}
#members-front, #members-back {
    background-color: rgba(255,255,255,0.85);
}
#members-front {
    padding: 5% 7%;
}
#members-back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/team.jpg);
}


/*Artist section*/
section#artists {
    padding: 10% 0 5%;
    overflow: auto;
    white-space: nowrap;
    background-image: url(images/image2.JPG);
}
.art-container {
    width: 22%;
    height: 60vh;
    margin: 0 1%;
    display: inline-block;
}
.art-front, .art-back {
    background-color: rgba(255,255,255,0.75)
}
.art-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.art-back {
    padding: 5%;
}
.art-back h2 {
    position: absolute;
    bottom: 30%;
    transform: rotate(270deg);
	transform-origin: left top 0;
}
img.artist {
    width: 100%;
    height: 90%;
}
.social-links {
    height: 10%;
}
.social {
    margin: 0 2%;
    display: inline-block;
    font-size: 2rem;
}


/*Contact section*/
section#contact {
    background: linear-gradient(to bottom right, #dff1da, #71c059);
}


/*Media queries*/
@media only screen and (max-width: 1024px) {
    section#intro {
        padding: 0;
    }
    header #header-text {
        width: 100%;
        padding: 2% 0;
    }
    header h1 {
        font-size: 12vw;
    }
    header img#product{
        height: 45vh;
        left: 0;
        right: 0;
        bottom: 7%;
    }
    .slideshow-container {
        width: 75%;
    }
    #members-container {
        width: 75%;
    }
    .art-container {
        width: 37%; 
    }
}
@media only screen and (max-width: 800px) {
    section#intro {
        padding: 5% 0;
    }
    .slideshow-container {
        width: 95%;
    }
    #members-container {
        width: 95%;
    }
    .art-container {
        width: 50%; 
    }
}
@media only screen and (max-width: 500px){
    section {
        padding: 10% 0;
    }
     .slideshow-container {
        width: 100%;
    }
    #members-container {
        width: 100%;
    }
    .art-container {
        width: 90%; 
    } 
}